apiVersion: apps/v1
kind: Deployment
metadata:
  name: paas-api
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: paas-api
  template:
    metadata:
      labels:
        app: paas-api
    spec:
      containers:
      - name: paas-api
        image: nginx:alpine
        ports:
        - containerPort: 80
        volumeMounts:
        - name: nginx-config
          mountPath: /etc/nginx/conf.d
      volumes:
      - name: nginx-config
        configMap:
          name: nginx-config